.wp-block[data-type="gravityflow/reports"] {
  .components-base-control {
    display: inline-block;
    margin-right: 5px;

    & + .components-base-control {
      margin-bottom: 0;
    }

    label {
      display: none;
    }
  }

  .components-button {
    height: 30px;
    vertical-align: middle;
  }

  .gravityflow_chart {
    margin-top: 20px;

    text {
      font-size: 14px;
    }
  }
}